/* ------------------
-style order-
|| general styles
|| header and nav
|| classes - in order of how they appear in the DOM
|| footer
|| media queries
------------------ */

:root {
    --main-accent-color: rgb(27,128,141);
}

@font-face {
      font-family: 'abolition regular';
      src: url('../fonts/Abolition-Round.woff') format('woff')
}

html {
    overflow: hidden;
    height: 100%;
}

p {
    margin-bottom: 0;
}

a:focus,
button:focus {
    border-color: #bebebe;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #bebebe !important;
}

/* -----NAV----- */
nav {   
    background: var(--main-accent-color);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

nav .navbar-brand {
    font-family: abolition regular, Impact, Charcoal;
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-toggle {
    border: 1px solid rgba(255, 255, 255, .7) !important;
}

.nav-link {
    transition: all 0.4s ease-in-out 0s;
    font-family: abolition regular, Impact, Charcoal;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .9) !important;
    text-shadow: 1px 2px 3px rgba(0,10,30,.4);
    padding-left: 1rem !important;
    padding-top: 0rem !important;
}

/* -----HEADER----- */
header, footer {
    text-align: center;
}
  
body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 9px;
}

header {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 5rem;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2.2);
}

.foreground {
    opacity: .9;
    transform: translateZ(-5px) scale(1.6);
    animation: wave 3.8s ease-in;
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.title {
    font-family: abolition regular, Impact, Charcoal;
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,10,30,.75);
    animation: fadeSlideUp 2s ease-in-out ;
}

.dorset {
    font-size: 7rem;
    margin-top: 5rem;
    text-shadow: 1px 2px 3px rgba(0,10,30,.75);
    animation: fadeSlideUp 2.5s ease-in ;
}

@keyframes fadeSlideUp {
    0% {
      opacity: .1;
      transform: translateY(10%); 
    }
    100% {
      opacity: 1;
      transform: translateY(0%); 
    }
}

@keyframes wave {
    0% {
      opacity: 1;
      transform: translateY(1%); 
    }
    35% {
        transform: translateY(-12%); 
    }

}

.main-container {
    font-size: 1rem;
    padding: 1rem;
    background-color: rgb(252,252,252);
    color: black;
}

.section-title,
.card-link {
    color: var(--main-accent-color);
}

.section-title {
    padding-left: .25rem;
    font-family: abolition regular, Impact, Charcoal;
    font-size: 2.2rem;
    text-shadow: 1px 2px 3px rgba(110, 110, 110, 0.2);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

section p{
    font-size: 1.2rem;
    padding: 0rem .25rem;
    font-weight: 200;
    color: rgb(26, 26, 26);
}

.anchor {
    scroll-margin-top: 5rem;
}

/* -----ADVENTURE CARDS----- */
.row {
    justify-content: center;
}

.card {
    box-shadow: 0 5px 5px  rgb(0, 0, 0,0.2);
    border-radius: .5rem;
}

.card-hover-container {
    position: relative;
    width: 100%;
}
  
.card-hover-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
  
.card-hover-text {
    pointer-events: none;
    color: white;
    opacity: 0;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s ease;
    text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-hover-container:hover .card-hover-text {
    opacity: 1;
}

.card-top {
    border-radius: 1rem;
    padding: .7rem;
}

.card-images { 
    transition: all .5s ease-in-out 0s;
}

.card-images:hover {
    transform: scale(1.02);
    cursor: zoom-in;
    filter: contrast(75%);
}

.card-body {
    padding: 0.2rem 1rem 1rem 1rem;
}

.card-title {
    margin-bottom: 0rem;
    font-size: 2rem;
    font-family: abolition regular, Impact, Charcoal;
}

.card-link {
    font-size: 1rem;
    padding-top: 6px;
    border: 1px solid var(--main-accent-color);
    border-radius: 5px;
}

.card-link:hover {
    color: rgb(88, 172, 184)
}

.map-pin-svg {
    display: inline;
    margin: 0rem 0rem 0rem -.2rem;
    padding: .3rem 0rem 0rem 0rem;
    content: url(../img/map-pin.svg);
    width: 1.2rem; height: 1.2rem;
}

.location-text {
    display: inline;
    font-size: 1.2rem;
    color: #6c757d;
}

.card-text {
    font-weight: 200;
    margin-top: .5rem;
    font-size: 1.2rem;
}

.directions-link {
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color) !important;
}

.directions-link:hover {
    border-color: var(--main-accent-color);
}

div .card {
    margin-top: 1rem;
}

.direction-svg {
    margin: 0rem 0rem -.6rem 0rem;
    padding: 0rem .6rem 0rem 0rem;
    display: inline;
    content: url(../img/directions-svgrepo-com.svg);
    width: 1.8rem; height: 1.8rem;
}

/* -----FOOD GRID----- */
.food-container {
	display: grid;
    margin-top: 1rem;
}

.photo-container {
	text-align: center; 
	width: 100%;
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 1rem;
	overflow: hidden;
}

.photo-container img {
 	max-width: 100%;
}

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .4);
}

.photo-overlay h3 {
    font-family: abolition regular, Impact, Charcoal;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 1.25em;
	margin-top: .85em;
	margin-bottom: .5em;
}

.photo-overlay p {
    margin-bottom: 1rem;
	font-size: 1rem;
	line-height: 1.4;
}

.photo img {
	transition: transform 1s;
}

.photo:hover img {
	transform: scale(1.2);
}

.food-link {
    color: white;
    font-size: 1rem;
    padding-top: 6px;
    border: 1px solid white;
    border-radius: 5px;
}

.food-link:hover {
    color: rgb(221, 221, 221);
}

/* -----CALENDER----- */
.cal-container{
    width: 100%;
    height: auto;
    background-image: url("../img/calendar-edit.png");
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0 5px 10px  rgb(0, 0, 0,0.2);
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
}

.cal-item-container{
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."; 
}

.year {
    font-family: abolition regular, Impact, Charcoal;
    color: rgb(27,128,141);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.calendar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    gap: 0.5rem;
}

.calendar li{
    font-weight: 200;
    transition: all 0.4s ease-in-out 0s;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 2.5rem;
    padding: 0;
    background-color: white;
    border-radius: 0.6rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(0, 0, 0,0.2);
    transition: all .4s ease-in-out 0s;
}

.calendar li:hover {
    transform: scale(1.08);
    background-color: rgba(27,128,141,.6);
    color: white;
}

ul .whitecoloricon{
    color: white;
}

.active{
    background-image: linear-gradient(180deg, rgba(255,255,224,.4) 0%, rgba(204, 204, 204, 0.1) 50%);                  
    background-color: rgb(27,128,141)!important;
    color: white;
    transition: 300ms;
}

.cal-right-bar{
    margin-top: -1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cal-right-bar h1{
    margin: 0;
    font-size: 2rem;
}

.cal-right-bar p{
    line-height: 21px;
}

em {
    color: var(--main-accent-color);
}

/* -----GALLERY----- */
.slide-container {
    background-color: white;
    margin: 1rem auto; 
    position: relative; 
    width: 350px;
    height: 340px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow { 
    margin: 0 auto; 
    position: relative; 
    width: 350px; 
    height: 280px;
    padding: 10px; 
}
  
  #slideshow > div { 
    position: absolute;
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

  #slideshow img {
    width: 100%; 
    height: 100%; 
}

#snapshot-text {
    font-family: "Kaushan Script", cursive;
    color: rgba(0,0,0,.75);
    font-size: 1.8rem;
    transform: rotate(-6deg);
    letter-spacing: 2px;
    position:relative;
}

#snapshot-text p {
    position:absolute; 
    left: 0;
    right: 0;
    margin: auto;
    margin-top: .2rem;
    
}

/* -----FOOTER----- */
.footer-basic {
    padding: 0px 0px 20px 0;
    background-color: var(--main-accent-color);
}

.wave-svg {
    background-color: rgb(252,252,252);
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:5px;
}
  
.footer-basic .social > a > img {
    transition: opacity 0.3s ease-in-out 0s;
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius: 20% 20% 20% 20%;
    margin:0 8px;
    color:inherit;
} 
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:white;
    margin-bottom:4rem;
}

/* -----MODAL----- */
form {
    max-width:400px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

.btn-close {
    color: white !important;
}
  
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"] {
    margin: 0 4px 8px 0;
}

input[type="checkbox"] {
    margin-bottom: 30px;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-right: 25px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.modal-header {
    background-color: var(--main-accent-color) !important;
}

.modal-title {
    font-family: abolition regular, Impact, Charcoal;
    color: white;
    font-size: 2rem;

}

.number {
    background-color: var(--main-accent-color);
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 1.2rem;
    margin-right: .5rem;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

#message {
    min-height: 15rem;
}

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: var(--main-accent-color); 
    color: #fff; 
    border: white 1px solid;
    text-align: center; 
    border-radius: 10px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
}
  
  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 4s;
}
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* --------------Media Queries ------------------- */
@media screen and (min-width: 480px) {
    form {
        max-width: 480px;
    }

}

@media screen and (min-width: 720px) {

    h1 {
        font-size: 6rem;
    }

    nav {
        padding: 1rem 5rem;
    }

    nav .navbar-brand {
        font-size: 2.5rem;
        padding-bottom: .3rem;
    }

    .nav-link {
        font-family: abolition regular, Impact, Charcoal;
        font-size: 1.9rem;
        padding-left: 1rem!important;
        padding-top: .25rem!important;
    }

    .nav-link:hover {
        color: rgba(255, 255, 255) !important;
        text-decoration: underline;
        transform: scale(1.1);
    }

    header {
        margin-top: 2rem;
        padding-top: 4rem;
    }

    .title { 
        font-size: 1.5rem;
    }

    .dorset {
        margin-top: 0rem;
        font-size: 14rem;
        text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    }

    .sub-title {
        font-size: 2.1rem;
    }

    .foreground {
        margin-top: 5rem;
    }

    .welcome {
        font-size: 1.25rem;
    }

    .main-container {
        padding: .5rem 2rem;
    }

    .row {
        padding: 0rem 1rem;
    }

    .section-title {    
        font-size: 4rem!important;
        padding: .2rem 0rem;
        margin-top: 2rem!important;
        margin-bottom: .3rem!important;
    }

    section {
        font-size: 1.2rem;
        padding: 0rem 1rem;
    }

    .navbar {
        padding: 0rem 2.1rem;
    }

    div .card {
        margin-top: 1.5rem;
    }

    .card-text {
        min-height: 16rem;
    }

    .col-md-4 {
        min-width: 340px;
    }

    .food-container {
        border: 2px solid var(--main-accent-color);
		grid-template-columns: 1fr 1fr;
        margin: 1rem;
        box-shadow: 0 5px 5px  rgb(0, 0, 0,0.2);
	}

    #food-text {
        margin-bottom: 1.2rem;
    }

    .photo-container {
        border: 2px solid var(--main-accent-color);
    }

	.photo {
		margin-bottom: 0rem;
	}

    #slideshow { 
        width: 550px; 
        height: 420px;
    }

    .slide-container {
        background-color: white;
        margin: 2rem auto; 
        position: relative; 
        width: 550px;
        height: 500px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    }

    #snapshot-text p {
        font-size: 2.2rem;
        position:absolute; 
        left: 0;
        right: 0;
        margin: auto;
        margin-top: .6rem;
    }
    
    .cal-item-container{
        width: 100%;
        height: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem; 
    }

    .calendar li{
        width: 7rem;
    }

    .cal-right-bar {
        margin-top: 1rem;
    }

    .cal-container{
        width: 45rem;
        padding: 3rem;
        margin-top: 1.5rem;
    }

    .footer-basic .copyright {
        margin-bottom:1rem;
    }

    .footer-basic .social > a > img {
        transition: all 0.3s ease-in-out 0s;
        opacity:0.7;
    
    } 
      
    .footer-basic .social > a > img:hover {
        opacity: 1;
        transform: scale(1.2);
    }

}

@media screen and (min-width: 1100px){
    .food-container {
        border: 2px solid var(--main-accent-color);
		grid-template-columns: 1fr 1fr 1fr;
        margin: 1rem;
        box-shadow: 0 5px 5px  rgb(0, 0, 0,0.2);
	}

    .cal-container{
        width: 55rem;
        padding: 3rem;
    }
}


