:root {
    --main-accent-color: rgb(27,128,141);
}

@font-face {
      font-family: 'abolition regular';
      src: url('../fonts/Abolition-Round.woff') format('woff')
}

html {
    overflow: hidden;
    height: 100%;
}

.anchor {
    scroll-margin-top: 5rem;
}

p {
    margin-bottom: 0;
}

/* -----NAV----- */
nav {   
    background: var(--main-accent-color);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);

}

nav .navbar-brand {
    font-family: abolition regular, Impact, Charcoal;
    font-size: 2rem;
    padding-bottom: .5rem;
    padding-top: 0;
}

.nav-toggle {
    border: 1px solid rgba(255, 255, 255, 0.308) !important;
}

.nav-link {
    transition: all 0.4s ease-in-out 0s;
    font-family: abolition regular, Impact, Charcoal;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .8) !important;
    padding-left: 1rem!important;
    padding-top: 0rem!important;
}

.nav-link:hover {
    color: rgba(255, 255, 255) !important;
    text-decoration: underline;
    transform: scale(1.1);
}

/* -----HEADER----- */
header, footer {
    text-align: center;
}
  
body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 9px;
}

header {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.sub-title{
    font-family: abolition regular, Impact, Charcoal;
}

.background {
    transform: translateZ(-10px) scale(2.2);
}

.foreground {
    transform: translateZ(-5px) scale(1.6);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.brand-title{
    text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    letter-spacing: 1px;
    font-size: 7rem;
    color: white;
}

.dorset {
    font-size: 7rem;
    margin-top: 5rem;
}

.title {
    font-family: abolition regular, Impact, Charcoal;
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,10,30,.5);

}

.main-container {
    font-size: 1rem;
    padding: 1rem;
    background-color: rgb(252,252,252);
    color: black;
}

.section-title,
.card-link {
    color: var(--main-accent-color);
}

.section-title {
    padding-left: .25rem;
    font-family: abolition regular, Impact, Charcoal;
    font-size: 2.2rem;
}

section {
    font-size: 1.2rem;
    padding: 0rem .25rem;
}

.section-col-right {
    display: none;
}

/* -----ADVENTURE CARDS----- */
.row {
    justify-content: center;
}
.card-link {
    font-size: 1rem;
    padding-top: 6px;
    border: 1px solid var(--main-accent-color);
    border-radius: 5px;
}

.card-link:hover {
    color: rgb(88, 172, 184)
}

.directions-link {
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color) !important;
}

.directions-link:hover {
    border-color: var(--main-accent-color);
}

div .card {
    margin-top: 1rem;
}


.card-top {
    border-radius: .5rem .5rem 0rem 0rem;
    padding: .7rem;
}

.card {
    box-shadow: 0 5px 5px  rgb(0, 0, 0,0.2);
    border-radius: .5rem;
}

.card-title {
    margin-bottom: 0rem;
    font-size: 2rem;
    font-family: abolition regular, Impact, Charcoal;
}

.card-body {
    padding: 0.2rem 1rem 1rem 1rem;
}

.card-text {
    margin-top: .5rem;
    font-size: 1.2rem;
}

.card-images {
    border-radius: 1rem;
    transition: transform .7s;
}

.card-images:hover {
    transform: scale(1.02);
    cursor: zoom-in;
}

.direction-svg {
    margin: 0rem 0rem -.6rem 0rem;
    padding: 0rem .6rem 0rem 0rem;
    display: inline;
    content: url(../img/directions-svgrepo-com.svg);
    width: 1.8rem; height: 1.8rem;
}

.map-pin-svg {
    display: inline;
    margin: 0rem 0rem 0rem -.2rem;
    padding: .3rem 0rem 0rem 0rem;
    content: url(../img/map-pin.svg);
    width: 1.2rem; height: 1.2rem;
}

.location-text {
    display: inline;
    font-size: 1.2rem;
    color: #6c757d;
}

.white {
    color: white;
}

/* -----FOOD GRID----- */
.food-container {
	display: grid;
    margin-top: 1rem;
}

.photo-container {
	text-align: center; 
	width: 100%;
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 1rem;
	overflow: hidden;
}

.photo-container img {
 	max-width: 100%;
}

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .4);
}

.photo-overlay h3 {
    font-family: abolition regular, Impact, Charcoal;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 1.25em;
	margin-top: .85em;
	margin-bottom: .5em;
}

.photo-overlay p {
    margin-bottom: 1rem;
	font-size: 1rem;
	line-height: 1.4;
}

.photo img {
	transition: transform 1s;
}

.photo:hover img {
	transform: scale(1.2);
}

.food-link {
    color: white;
    font-size: 1rem;
    padding-top: 6px;
    border: 1px solid white;
    border-radius: 5px;
}

.food-link:hover {
    color: rgb(221, 221, 221);
}

/* -----CALENDER----- */
.cal-container{
    width: 100%;
    height: auto;
    background-image: url("../img/calendar-edit.png");
    background-size: cover;
    border-radius: 1rem;
    box-shadow: 0 5px 10px  rgb(0, 0, 0,0.2);
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
}

.cal-item-container{
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."; 
}

.calendar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    gap: 0.5rem;
}

.calendar li{
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 2.5rem;
    padding: 0;
    background-color: white;
    border-radius: 0.6rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(0, 0, 0,0.2);
    transition: all .4s ease-in-out 0s;
}

.calendar li:hover {
    background-color: rgba(27,128,141,.7);
    color: white;
}

ul .whitecoloricon{
    color: white;
}

.active{
    background-image: linear-gradient(180deg, rgba(255,255,224,.4) 0%, rgba(204, 204, 204, 0.1) 50%);                  
    background-color: rgb(27,128,141)!important;
    color: white;
    transition: 300ms;
}

.cal-right-bar{
    margin-top: -1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cal-right-bar h1{
    margin: 0;
    font-size: 2rem;
}

.cal-right-bar p{
    line-height: 21px;
}

.year {
    font-family: abolition regular, Impact, Charcoal;
    color: rgb(27,128,141);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.month {
    font-family: abolition regular, Impact, Charcoal;
    text-decoration: underline;
    color: rgb(27,128,141);
}

em {
    color: var(--main-accent-color);
}

/* -----GALLERY----- */
#slideshow { 
    margin: 2rem auto; 
    position: relative; 
    width: 350px; 
    height: 250px;
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
  
  #slideshow > div { 
    position: absolute;
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

  #slideshow img {
    width: 100%; 
    height: 100%; 
}

/* -----FOOTER----- */
.footer-basic {
    padding: 0px 0px 20px 0;
    background-color: var(--main-accent-color);
}

.wave-svg {
    background-color: rgb(252,252,252);
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:5px;
}
  
.footer-basic .social > a > img {
    transition: opacity 0.3s ease-in-out 0s;
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius: 20% 20% 20% 20%;
    margin:0 8px;
    color:inherit;
} 
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:white;
    margin-bottom:4rem;
}

/* --------------Media Queries ------------------- */
@media screen and (min-width: 720px) {

    h1 {
        font-size: 6rem;
    }

    nav {
        padding: 1rem 5rem;
    }

    nav .navbar-brand {
        font-size: 2.5rem;
    }

    .nav-link {
        font-family: abolition regular, Impact, Charcoal;
        font-size: 1.8rem;
        padding-left: 1rem!important;
        padding-top: .25rem!important;
    }

    header {
        margin-top: 2rem;
    }

    .title { 
        font-size: 1.5rem;
    }

    .dorset {
        margin-top: 0rem;
        font-size: 14rem;
        text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    }

    .sub-title {
        font-size: 2.1rem;
    }

    .foreground {
        margin-top: 5rem;
    }

    .welcome {
        font-size: 1.25rem;
    }

    .main-container {
        padding: 2rem;
    }

    .row {
        padding: 0rem 1rem;
    }

    .section-title {    
        font-size: 4rem!important;
        padding: .25rem 1rem;
        margin-top: 2rem!important;
        margin-bottom: 0rem!important;
    }

    .section-row {
        text-align: justify;
    }

    .section-row::after {
        content: "";
        display: table;
        clear: both;
    }

    .section-col-left {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .section-col-right {
        float: left;
        width: 50%;
        padding-left: 1rem;
        display: block;
    }

    section {
        font-size: 1.2rem;
        padding: 0rem 1rem;
    }

    .navbar {
        padding: 0rem 2.1rem;
    }

    div .card {
        margin-top: 1.5rem;
    }

    .food-container {
        border: 2px solid var(--main-accent-color);
		grid-template-columns: 1fr 1fr;
        margin: 1rem;
        box-shadow: 0 5px 5px  rgb(0, 0, 0,0.2);
	}

    #food-text {
        margin-bottom: 1.2rem;
    }

    .photo-container {
        border: 2px solid var(--main-accent-color);
    }

	.photo {
		margin-bottom: 0rem;
	}

    #slideshow { 
        width: 600px; 
        height: 410px;
    }

    .cal-item-container{
        width: 100%;
        height: 20rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem; 
    }

    .calendar li{
        width: 7rem;
    }

    .cal-right-bar {
        margin-top: 1rem;
    }

    .cal-container{
        width: 50rem;
        padding: 3rem;
        margin-top: 1.5rem;
    }

    .card-text {
        min-height: 17rem;
    }

    .col-md-4 {
        min-width: 340px;
    }

    .footer-basic .copyright {
        margin-bottom:1rem;
    }

    .footer-basic .social > a > img {
        transition: all 0.3s ease-in-out 0s;
        opacity:0.7;
    
    } 
      
    .footer-basic .social > a > img:hover {
        opacity: 1;
        transform: scale(1.2);
    }


}

@media screen and (min-width: 1100px){
    .food-container {
        border: 2px solid var(--main-accent-color);
		grid-template-columns: 1fr 1fr 1fr;
        margin: 1rem;
        box-shadow: 0 5px 5px  rgb(0, 0, 0,0.2);
	}

    .cal-container{
        width: 55rem;
        padding: 3rem;
    }
}

     /* .slide-container {
        background-color: white;
        margin: 2rem auto; 
        position: relative; 
        width: 600px;
        height: 500px;
        text-align: center;
        box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    }
    
    #slideshow { 
        margin: 0 auto; 
        position: relative; 
        width: 350px; 
        height: 400px;
        padding: 10px; 
         box-shadow: 0 0 20px rgba(0,0,0,0.4);  
     
 */

