:root {
    --main-accent-color: rgb(27,128,141);
}

@font-face {
      font-family: 'abolition regular';
      src: url('fonts/Abolition-Round.woff') format('woff')
}

html {
    overflow: hidden;
    height: 100%;
}

/* ---NAV--- */
nav li a {
    font-size: 1.55rem;
}

nav {   
    background: var(--main-accent-color);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);

}

nav .navbar-brand {
    font-family: abolition regular, Impact, Charcoal;
    font-size: 2rem;
    padding-bottom: .5rem;
    padding-top: 0;
}

.nav-toggle {
    border: 1px solid rgba(255, 255, 255, .75) !important;
}

.nav-link {
    font-family: abolition regular, Impact, Charcoal;
    font-size: 1.5rem;
    padding-left: 1rem!important;
    padding-top: 0rem!important;
}

/* ---HEADER--- */
header, footer {
    text-align: center;
}
  
body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 9px;
}

header {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.sub-title{
    font-family: abolition regular, Impact, Charcoal;
}

.background {
    transform: translateZ(-10px) scale(2.2);
}

.foreground {
    transform: translateZ(-5px) scale(1.6);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.brand-title{
    text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    letter-spacing: 1px;
    font-size: 7rem;
    color: white;
}

.dorset {
    font-size: 7rem;
    margin-top: 5rem;
}

.title {
    font-family: abolition regular, Impact, Charcoal;
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,10,30,.5);

}

/* ---ADVENTURE CARDS--- */
.main-container {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(252,252,252);
    color: black;
}

.section-title,
.card-link {
    color: var(--main-accent-color);
}

.section-title {
    padding-left: 1rem;
    font-family: abolition regular, Impact, Charcoal;
    font-size: 2.7rem;
}

section {
    font-size: 1.4rem;
    padding: 0rem 1rem;
}

.card-link {
    font-size: 1rem;
    padding-top: 6px;
    border: 1px solid var(--main-accent-color);
    border-radius: 5px;
}

.card-link:hover {
    color: rgb(88, 172, 184)
}

.directions-link {
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color) !important;
}

.directions-link:hover {
    border-color: var(--main-accent-color);
}

div .card {
    margin-top: 2rem;
}

.card-top {
    border-radius: .5rem .5rem 0rem 0rem;
    padding: .7rem;
}

.card {
    box-shadow: 1px 2px 3px rgba(0,10,30,.5);
    border-radius: .5rem;
}

.card-title {
    font-size: 2rem;
    font-family: abolition regular, Impact, Charcoal;
}

.card-text {
    font-size: 1rem;
    min-height: 10rem;
}

.card-images {
    border-radius: 1rem;
    height: 380px;
}

.direction-svg {
    margin: 0rem 0rem -.6rem 0rem;
    padding: 0rem .6rem 0rem 0rem;
    display: inline;
    content: url(img/directions-svgrepo-com.svg);
    width: 1.8rem; height: 1.8rem;
}

.white {
    color: white;
}

/* ---FOOD GRID--- */
.food-container {
	display: grid;
}

.photo-container {
	text-align: center; 
	width: 100%;
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 1rem;
	overflow: hidden;
}

.photo-container img {
 	max-width: 100%;
}

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;

	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .4);
}

.photo-overlay h3 {
    font-family: abolition regular, Impact, Charcoal;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 1.25em;
	margin-top: .85em;
	margin-bottom: .5em;
}

.photo-overlay p {
	font-size: 1rem;
	line-height: 1.4;
}

.photo img {
	transition: transform .7s;
}

.photo:hover img {
	transform: scale(1.2);
}

.food-link {
    color: white;
    font-size: 1rem;
    padding-top: 6px;
    border: 1px solid white;
    border-radius: 5px;
}

.food-link:hover {
    color: rgb(221, 221, 221);
}

/* Media Queries ------------------- */
@media screen and (min-width: 720px) {

    h1 {
        font-size: 6rem;
    }

    nav {
        padding: 1rem 5rem;
    }

    nav .navbar-brand {
        font-size: 2.5rem;
    }

    .nav-link {
        font-family: abolition regular, Impact, Charcoal;
        font-size: 1.8rem;
        padding-left: 1rem!important;
        padding-top: .25rem!important;
    }

    header {
        margin-top: 6rem;
    }

    .title { 
        font-size: 1.5rem;
    }

    .dorset {
        margin-top: 0;
        font-size: 14rem;
        text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    }

    .sub-title {
        font-size: 2.1rem;
    }

    .welcome {
        font-size: 1.25rem;
    }

    .main-container {
        padding: 2rem;
    }

    .row {
        padding: 1rem 1rem;
    }

    .section-title {    
        font-size: 4rem;
    }
    
    section {
        font-size: 1.2rem;
        padding: 0rem 1rem;
    }

    .navbar {
        padding: 0rem 2.1rem;
    }

    .food-container {
        border: 2px solid var(--main-accent-color);
		grid-template-columns: 1fr 1fr 1fr;
        margin: 1rem;
	}

    .photo-container {
        border: 2px solid var(--main-accent-color);
    }

	.photo {
		margin-bottom: 0rem;
	}

    


}