:root {
    --main-accent-color: rgb(27,128,141);
}

@font-face {
      font-family: 'abolition regular';
    /*  where the font is loaded from*/
      src: url(../fonts/Abolition-Round.woff) format('woff')
}

html {
    overflow: hidden;
    height: 100%;
}

/* ---NAV--- */
nav li a {
    font-size: 2rem;;
}

nav {
    background: var(--main-accent-color);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

nav .navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

/* ---HEADER--- */
header, footer {
    text-align: center;
}
  
body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.welcome{
    font: 300 100%/1.5 'Work Sans', Sans-serif;
}

.background {
    transform: translateZ(-10px) scale(2.1);
}

.foreground {
    transform: translateZ(-5px) scale(1.6);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.brand-title{
    text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    letter-spacing: 1px;
    font-size: 7rem;
    color: white;
}

.dorset {
    font-size: 7rem;
}

.title {
    font-family: abolition regular, Impact, Charcoal;
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,10,30,.5);

}

section {
    font-size: 2rem;
    padding: 2rem;
    background-color: white;
    color: black;
}



/* Media Queries ------------------- */
@media screen and (min-width: 720px) {

    h1 {
        font-size: 6rem;
    }

    nav {
        padding: 1rem 5rem;
    }

    nav .navbar-brand {
        font-family: 'Amatic SC', cursive;
        font-size: 5rem;
    }

    header {
        margin-top: 2rem;
        align-items: normal;
    }

    .title { 
        font-size: 1.5rem;

    }

    .dorset {
        font-size: 15rem;
        text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    }


}