:root {
    --main-accent-color: rgb(27,128,141);
}

@font-face {
      font-family: 'abolition regular';
    /*  where the font is loaded from*/
      src: url('fonts/Abolition-Round.woff') format('woff')
}

html {
    overflow: hidden;
    height: 100%;
}

/* ---NAV--- */
nav li a {
    font-size: 1.55rem;
}

nav {   
    background: var(--main-accent-color);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);

}

nav .navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.nav-toggle {
    border: 1px solid rgba(255, 255, 255, .75) !important;
}

/* ---HEADER--- */
header, footer {
    text-align: center;
}
  
body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 9px;
}

header {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.welcome{
    font: 500 100%/1.5 'Work Sans', Sans-serif;
}

.background {
    transform: translateZ(-10px) scale(2.2);
}

.foreground {
    transform: translateZ(-5px) scale(1.6);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.brand-title{
    text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    letter-spacing: 1px;
    font-size: 7rem;
    color: white;
}

.dorset {
    font-size: 7rem;
}

.title {
    font-family: abolition regular, Impact, Charcoal;
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,10,30,.5);

}

section {
    font-size: 1.5rem;
    padding: 2rem;
    background-color: white;
    color: black;
}

.section-title,
.card-link {
    color: var(--main-accent-color);
}

.card-link {
    padding-top: 6px;
}

.card-link:hover {
    color: rgba(0,10,30,.5);
}

.btn-accent {
    background-color: var(--main-accent-color) !important;
}

div .card {
    margin-top: 2rem;
}

.card-top {
    border-radius: .5rem .5rem 0rem 0rem;
    border-bottom: .5rem solid var(--main-accent-color);
}

.card {
    box-shadow: 1px 2px 3px rgba(0,10,30,.5);
    border-radius: .5rem;
}





/* Media Queries ------------------- */
@media screen and (min-width: 720px) {

    h1 {
        font-size: 6rem;
    }

    nav {
        padding: 1rem 5rem;
    }

    nav .navbar-brand {
        font-family: 'Amatic SC', cursive;
        font-size: 3rem;
    }

    header {
        margin-top: 2rem;
    }

    .title { 
        font-size: 1.5rem;
    }

    .dorset {
        font-size: 12rem;
        text-shadow: 1px 2px 3px rgba(0,10,30,.5);
    }

    .welcome {
        font-size: 1.25rem;
    }


}